<!DOCTYPE html>
<html lang="en">
  <head>
    <title>گیومه-صفحه اصلی</title>
    <%- include('../partials/head'); %>
  </head>

  <body>
    <!-- ***** Preloader Start ***** -->
    <%- include('../partials/preloader'); %>

    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <%- include('../partials/header'); %>

    <!-- Page Content -->

    <!-- Banner Starts Here -->
    <div class="heading-page header-text">
      <section>
        <div
          style="
            position: relative;
            text-align: center;
            color: rgb(255, 255, 255);
          "
        >
          <img
            src="../../../../public/assets/images/avatar.png"
            style="
              vertical-align: middle;
              width: 100px;
              height: 100px;
              border-radius: 50%;
            "
          />
          <div style="
              top: 50%;
              left: 50%; 
              width: 100%;
              margin-top:10px"
          >
            <h4 style="color:rgb(70, 70, 70); text-align: rigth; ">
              <strong ><%= user.name %></strong>
              <h5 style="color:rgb(70, 70, 70) ; margin-top: 10px;"><%= user.bio %></h5>
            </h4>
          </div>
        </div>
      </section>
    </div>
    <!-- Banner Ends Here -->

    <!-- Page Content -->

    <section class="blog-posts" style="background-color: rgb(240, 239, 239); margin-top: 30px;">
      <div class="container">
        <div
          class="row"
          style="
            display: -ms-flexbox;
            display: block;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;
          "
        >
        <% if (posts.length > 0) { %>
          <% posts.forEach(function(post){%>

            <div class="blog-post card" style="height: 270px;">
              <div class="down-content" style="padding: 20px; height: 300px;">
                <img 
                 style=" width:27%; height: 200px; float: right; object-fit:
                cover; margin-bottom: 10px; margin-top: 10px;" src= ../../../../<%= post.image %> alt="" />
                
                <div style="text-align: center; margin-top: 5px;">
                  <span style="text-align: center"><%= post.category %></span>
                </div>
                <a
                  href="/posts/<%= post.category %>/<%= post.title %>"
                  style="text-align: center"
                  ><h4><%= post.title %></h4></a
                >
                <ul class="post-info" style="text-align: center">
                  <li><a href="#"><%= post.date %></a></li>
                </ul>
                <p style="text-align: center; border-bottom: none; padding: 20px; margin-top: 10px; margin-bottom: 10px;"><%= post.body %></p>
                
              </div>
            </div>
  
            <% }) %>
        <% } else { %>
          <div class="blog-post card">
            <div class="down-content" style="padding: 20px;position: relative;
            text-align: center; ">
              <img 
               style="height: 350px; margin-bottom: 10px; margin-top: 10px; vertical-align: middle;" src= "../../../../public/assets/images/nauthor.png" alt="" />

              <p style="text-align: center; border-bottom: none; padding: 20px; margin-top: 10px; margin-bottom: 10px;">
              <strong>                این کاربر هنوز پستی در گیومه ننوشته. بعد از انتشار اولین پست، آن را در اینجا نمایش می‌دهیم.             
              </strong>
              </p>

            </div>
          </div>

          <% } %>
         
        </div>
      </div>
    </section> 


    <footer><%- include('../partials/footer'); %></footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../../../../public/vendor/jquery/jquery.min.js"></script>
    <script src="../../../../public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Additional Scripts -->
    <script src="../../../../public/assets/js/custom.js"></script>
    <script src="../../../../public/assets/js/owl.js"></script>
    <script src="../../../../public/assets/js/slick.js"></script>
    <script src="../../../../public/assets/js/isotope.js"></script>
    <script src="../../../../public/assets/js/accordions.js"></script>

    <script language="text/Javascript">
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t) {
        //declaring the array outside of the
        if (!cleared[t.id]) {
          // function makes it static and global
          cleared[t.id] = 1; // you could use true and false, but that's more typing
          t.value = ""; // with more chance of typos
          t.style.color = "#fff";
        }
      }
    </script>
  </body>
</html>
