<!DOCTYPE html>
<html lang="en">
  <head>
    <title>داشبورد - ویرایش</title>
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../../../../public/assets/css/dashboard.css">


    <!-- Style -->
    <link rel="stylesheet" href="../../../../../public/assets/css/style.css" />
  </head>

  <body>
    <nav class="navbar navbar-expand navbar-dark bg-primary" style="background-color: #f48840!important; height: 80px;">
      <a href="#menu-toggle" id="menu-toggle" class="navbar-brand"
        ><span class="navbar-toggler-icon"></span
      ></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarsExample02"
        aria-controls="navbarsExample02"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#"
              >بازگشت به گیومه <span class="sr-only">(current)</span></a
            >
          </li>
        </ul>
        <form class="form-inline my-2 my-md-0"></form>
      </div>
    </nav>
    <div id="wrapper" class="toggled">
      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav" style="margin-top:15px; margin-right: 10px; ">
          <li><a href="/dashboard">پیشخوان </a></li>
          <li><a href="/a/create">افزودن پست جدید</a></li>
          <li><a href="/user/posts">مطالب پیشین</a></li>
          <li><a href="#">آخرین نظرات</a></li>
          <li><a href="#">تنظیمات حساب کاربری</a></li>
          <li><a href="#">مشاهده پروفایل</a></li>
          <li><a href="#">خروج از حساب حساب کاربری</a></li>
        </ul>
      </div>
      <!-- /#sidebar-wrapper -->
      <!-- Page Content -->
      <div id="page-content-wrapper">
        <div class="container-fluid">
          <h2 style="text-align: center; color: #3f3f3f;"><strong>ویرایش مطلب</strong>
        </h2>
          <div class="content">
            <div class="container">
              <div class="row align-items-stretch no-gutters contact-wrap" style="direction:rtl;  text-align: right;">
                <div class="col-md-12" >
                  <div class="form h-100">
                    <% if (messages.error) { %>
                      <div
                        class="alert alert-danger alert-dismissible fade show"
                        role="alert"
                      >
                        <%- messages.error %>
                       
                      </div>
                      <% } %>
                    <form
                      class="mb-5"
                      enctype="multipart/form-data"
                      method="post"
                      id="contactForm"
                      name="contactForm"
                      action="/a/create"
                    >
                      <div class="row">
                        <div class="col-md-6 form-group mb-3">
                          <label for="title" class="col-form-label">عنوان</label>
                          <input
                            type="text"
                            class="form-control"
                            name="title"
                            id="title"
                            value="<%= value.data.title %>"
                            placeholder="عنوان مقاله شما"
                          />
                        </div>
                        <div class="row">
                          <div class="col-md-12 form-group mb-3">
                            <label for="category" class="col-form-label"
                              >دسته بندی</label
                            >
                            <select 
                              class="custom-select"
                              id="category"
                              name="category"
                              style="text-align: center;"
                            >
                              <option selected value= <%= value.data.category %> >  <%= value.data.category %> </option>
                              <option value="1">برنامه‌نویسی</option>
                              <option value="2">بلاکچین</option>
                              <option value="3">طراحی و گرافیک</option>
                              <option value="4">هوش مصنوعی</option>
                              <option value="5">امنیت و شبکه</option>
                              <option value="6">تولید محتوا و سئو</option>
                            </select>
                          </div>
                        </div>
      
                        <div class="col-md-6 form-group mb-3">
                          <label for="tags" class="col-form-label">تگ ها</label>
                          <input
                            type="text"
                            class="form-control"
                            name="tags"
                            id="tags"
                            value="<%= value.data.tags %>"
                            placeholder="تگ هارا میتوانید با فاصله یا ویرگول (,) جدا کنید"
                          />
                        </div>
                      </div>
      
                      <div class="row">
                        <div class="col-md-12 form-group mb-3">
                          <label for="body" class="col-form-label">متن مقاله</label>
                          <textarea
                            class="form-control"
                            name="body"
                            id="body"
                            cols="30"
                            rows="10"
                            
                            placeholder="شروع به نوشتن کنید ..."
                          ><%= value.data.body %></textarea>
                        </div>
                      </div>
      
                      <div class="row">
                        <div class="button_outer">
                          <div class="btn_upload">
                            <input type="file" id="upload_file" name="upload_file" />
                            آپلود عکس
                          </div>
                          <div class="processing_bar"></div>
                          <div class="success_box"></div>
                        </div>
                        <div class="error_msg"></div>
                        <div class="uploaded_file_view" id="uploaded_view">
                          <span class="file_remove">X</span>
                        </div>
                      </div>
      
                      <div class="row">
                        <div class="col-md-12 form-group">
                          <input
                            type="submit"
                            value="ثبت"
                            class="btn btn-primary rounded-0 py-2 px-4"
                          />
                          <span class="submitting"></span>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
      
        </div>
      </div>
      <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
   <!-- Menu Toggle Script -->
    <script>
      $(function () {
        $("#menu-toggle").click(function (e) {
          e.preventDefault();
          $("#wrapper").toggleClass("toggled");
        });

        $(window).resize(function (e) {
          if ($(window).width() <= 768) {
            $("#wrapper").removeClass("toggled");
          } else {
            $("#wrapper").addClass("toggled");
          }
        });
      });
    </script>
  </body>
</html>
